.newsletter input {
    background: #fff !important;
    border: 1px solid #FFF !important;
    box-shadow: none !important;
    /* padding: 9px 20px; */
    color: #000 !important;
    height: calc(2em + .75rem + 20px);
    width: 100% !important;
    border-radius: 0px !important;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    border-radius: 4px !important;
    outline: none;
}

.newsletter .btn-newsletter {
    border-radius: 4px;
    background: #125875;
    color: #fff;
    height: 55px;
    z-index: 1;
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}