.highlight-box {
    transition: all .3s;
}

.highlight-box:hover {
    background-color: #34B9CC;
    margin-top: -40px !important;
    margin-bottom: -40px !important;
}

@media (max-width: 640px) {
    .highlight-box {
        box-shadow: 1px solid #f2f2f2;
    }
}

.highlight-box:hover .icon,
.highlight-box:hover .title,
.highlight-box:hover .desc {
    color: #ffffff;
}


.highlight-box:hover .title {
    font-size: 20px;
}

.highlight-box:hover .desc {
    font-size: 14px;
}